:root {
    --bg-primary: #0c0c0e;

    --primary: #c2c2c2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

html, body {
    min-height: 100vh;
    background-color: var(--bg-primary);
    overflow: hidden;
}